.rain {
    backgrund-color: $background-color;
    background-image: url("../img/rain.jpg");
}
.snow {
    backgrund-color: $background-color;
    background-image: url("../img/snow.jpg");
}
.night {
    backgrund-color: $night-color;
    background-image: url("../img/night.jpg");
}
.fog {
    backgrund-color: $fog-color;
    background-image: url("../img/fogs .jpg");
}
.clouds {
    backgrund-color: $background-color;
    background-image: url("../img/clouds1.jpg");
}